<div class="produtos">
  @for (produto of produtos; track $index ) {
    <div class="produto">
      <div class="produto__imagem">
        <img [src]="produto.url_imagem" alt="imagem do produto">
      </div>

      <div class="produto__texto">
        <p>{{ produto.nome }}</p>
        <p>{{ produto.descricao }}</p>
        <p>R$ {{ produto.preco.toFixed(2) }}</p>
      </div>

      <div class="produto__buttons">
        <button class="button__detalhes">Detalhes</button>
        <button class="button__comprar">Comprar</button>
        <button (click)="deletar(produto.id)">Deletar</button>
      </div>
    </div>
  }
</div>
